<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common.html :: #header}"> </head>
  <body>
    <div th:replace="common.html :: #menu"></div>
    <div class="container">
      <div class="row"><h2>La liste des types de propriétées</h2></div>
      <div class="row col-md-8">
          <p>
            <a href="/propertiesType/add" class="btn btn-primary btn-sm">Nouveau types de propriété</a>
          </p>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="prop : ${propertysTypes}">
                <td style="width: 10%" th:text="${prop.id}"></td>
                <td th:text="${prop.name}"></td>
                <td>
                  <a th:href="@{/propertiesType/update/{id}(id=${prop.id})}"
                    ><button class="btn btn-info">Modifier</button></a
                  >
                  <a th:href="@{/propertiesType/delete/{id}(id=${prop.id})}"
                    ><button class="btn btn-danger">Supprimer</button></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div th:replace="common.html :: #js-script"></div>
  </body>
</html>